.navbar li{    
display:inline;    
padding: 40px   
    
}

.navbar ul{
	
padding: 0px;
font-size: 20px;	
	
}

.title h1{
	
font-family:myfont;	
font-size: 40px;
	
}

.interests li{
	display:inline;    
border: 2px solid green;    
padding: 40px; 
font-size: 60px;    	
}

.interests ul{
	
padding: 0px;	
	
	
}
@font-face{
font-family:myfont;
src: url(balzac-regular.ttf);
	
}	

.photo img{
	
position:relative;  bottom: 400px;	
	size: 200px;
	
}


	
